/***********************
GENERAL
***********************/

* {
	padding: 0;
	margin: 0;
}

h2 {
	text-align: center;
}

/***********************
NAVIGATION
***********************/

nav {
	padding: 1% 0 1% 0;
}

nav li {
	display: inline-block;
	padding: 0 20px;
	margin: 0 60px;
}

nav a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: skyblue;
}

a:hover {
	color: red;
}

/***********************
HEADER
***********************/

#top {
	max-width: 100%;
	padding: 10% 0 15% 0;
}

#top h1 {
	text-align: center;
	font-size: 4em;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	margin-top: -5%;
}

#top h4 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	padding-top: 1%;
}

img[alt*="Ares Space Program Logo"] {
	position: relative;
	left: 35%;
}

img[alt*="NASA Meatball Logo"] {
	position: relative;
	left: 40%;
	height: 135px;
}

#top p {
	width: 30%;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;	
	display: inline-block;
	vertical-align: center;
	margin: 0 35% 0 35%;
	font-size: .9em;
}

/***********************
MISSION STATEMENT
***********************/

article#mission_statement {
	max-width: 100%;
	padding: 5% 1% 15% 1%;	
	border: 1px solid black;
}

article#mission_statement {
	width: 60%;
	margin: 0 20%;
}

/***********************
MISSION GUIDES
***********************/

section#mission_guides {
	max-width: 98%;
	margin: 0 1%;
	padding: 5% 0 15% 0;	
}

section#mission_guides h2 {
	margin: -3% 0 5% 0;
}

article.mission {
	border: 1px solid black;
	width: 200px;
	height: 320px;
	display: inline-block;
	vertical-align: top;
}

section#mission_guides h3 {
	background-color: orange;
	text-align: center;
}


article.mission p {
	padding: 10% 5% 0 5%;
}

/***********************
EQUIPMENT
***********************/

section#equipment {
	max-width: 100%;
	padding: 5% 0 15% 0;
}	

section#equipment h2 {
	margin: -5% 0 5% 0;	
}	

section#equipment a {
	margin-left: 47%;
}

article.facilities h3 {
	background-color: orange;
	text-align: center;

}

article.facilities p {
	padding: 5% 5% 0 5%;
}

article.facilities {
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 500px;
	height: 700px;
	margin: 0 5%;
}

/***********************
CONTENT
***********************/

section#contact {
	max-width: 80%;
	margin: 0 10% 20% 10%;
}

section#contact h2 {
	padding-bottom: 5%;
}

section#contact a {
	margin: 0 45%;
}

fieldset {
	text-align: center;
}

button {
	margin-bottom: 2%;
}

/***********************
RESPONSIVENESS
***********************/

@media screen and (max-width: 500px) {
  * {
    max-width: 80%;
  }
}







