/***********************
GENERAL
***********************/

* {
	padding: 0;
	margin: 0;
}

h2 {
	text-align: center;
}

/***********************
NAVIGATION
***********************/

nav {
	padding: 1% 0 1% 0;
}

nav li {
	display: inline-block;
	padding: 0 20px;
	margin: 0 60px;
}

nav a {
	color: black;
}

a:visited {
	color: skyblue;
}

a:hover {
	color: red;
}

/***********************
HEADER
***********************/

#top {
	max-width: 100%;
	padding: 10% 0 15% 0;
}

#top h1 {
	text-align: center;
	font-size: 50px;
	padding: 1px;
}

#top h4 {
	text-align: center;
}

img[alt*="Ares Space Program Logo"] {
	position: relative;
	left: 35%;
}

img[alt*="NASA Meatball Logo"] {
	position: relative;
	left: 40%;
	height: 135px;
}

#top p {
	width: 30%;
	display: inline-block;
	vertical-align: center;
	margin: 0 35% 0 35%;
	font-size: .9em;
}

/***********************
MISSION STATEMENT
***********************/

article#mission_statement {
	max-width: 100%;
	padding: 5% 1% 15% 1%;	
	border: 1px solid black;
}

article#mission_statement {
	width: 60%;
	margin: 0 20%;
}

/***********************
MISSION GUIDES
***********************/

section#mission_guides {
	max-width: 98%;
	margin: 0 1%;
	padding: 5% 0 15% 0;	
}

section#mission_guides h2 {
	margin: -3% 0 5% 0;
}

article.mission {
	border: 1px solid black;
	width: 200px;
	height: 320px;
	display: inline-block;
	vertical-align: top;
}

section#mission_guides h3 {
	background-color: orange;
	text-align: center;
}


article.mission p {
	padding: 10% 5% 0 5%;
}








